<div ui-view>
    <h1>About Page</h1>
    <p>
        Client meeting notes / to-do:
        <ul>
            <li>
                Security:
                <ul>
                    <li>
                        Members section? Security? (not a priority, will address after general functionality up and running)
                    </li>
                </ul>
            </li>
            <li>
                Privacy:
                <ul>
                    <li>
                        Member information required? / visibility of member information / relationship between accounts (as above, will address later)
                    </li>
                </ul>
            </li>
            <li>
                Pages:
                <ul>
                    <li>
                        Homepage:
                        <ul>
                            <li>Display user information</li>
                            <li>Display user balance (currency system)</li>
                            <li>Display most recent user completed transactions (work completed through the site)</li>
                            <li>Possibly also display 'top 10' relevant 'jobs' (ie. short list of most relevant marketplace postings that the user could apply to complete)</li>
                        </ul>
                    </li>
                    <li>
                        Marketplace:
                        <ul>
                            <li>Display searchable list of all postings</li>
                            <li>Display searchable list of all current users own postings</li>
                            <li>Display searchable list of all user completed transactions</li>
                            <li>Option for user to create a new marketplace posting</li>
                        </ul>
                    </li>
                    <li>
                        Other:
                        <ul>
                            <li>??</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </p>
</div>