<div ui-view>
    <h1>User Homepage</h1>

    <div class="row">
        <div class="panel col-md-12">
            <div class="panel-body">
                <div class="col-sm-4">
                    <label>Credit Balance:</label>
                </div>
                <div class="col-sm-4">
                    <label>Active listings:</label>
                </div>
                <div class="col-sm-4">
                    <label>Completed:</label>
                </div>
            </div>
        </div>

        <div class="panel col-md-6">
            <div class="panel-body">
                <div class="h3">Top 10 listings:</div>
                <div class="">
                    <p>List of 10 most recent / most relevant marketplace listings will go here?</p>
                </div>
            </div>
        </div>

        <div class="panel col-md-6">
            <div class="panel-body">
                <div class="h3">Completed listings:</div>
                <div class="">
                    <p>Paginated list of completed listings (completed by the user) will go here?</p>
                </div>
            </div>
        </div>
    </div>
    
</div>