<div ui-view>
    <h1>Marketplace</h1>

    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <!--<div class="col-sm-2" style="padding: 10px; float: right;">
                    <button class="btn btn-default">Add Listing</button>
                </div>-->
                <div class="input-group col-sm-10" style="padding: 10px;">
                    <label style="padding-right: 5px;">Search</label><input ng-model="listingSearchTerm" />
                </div>
                
            </div>
            <div class="row">
                <table class="table table-condensed">
                    <tr>
                        <th>Post Title</th>
                        <th>Description</th>
                        <th>Posted Date</th>
                        <th>Posted By</th>
                        <th></th>
                    </tr>
                    <tr class="col-md-12">
                        <td class="col-sm-2"><input type="text" ng-model="am.newPost.title"/></td>
                        <td class="col-sm-4"><input type="text" ng-model="am.newPost.description"/></td>
                        <td class="col-sm-2"></td>
                        <td class="col-sm-2"></td>
                        <td class="col-sm-2">
                            <div class="btn btn-default" ng-click="am.addPost(am.newPost)">Add Post</div>
                        </td>
                    </tr>
                    <tr class="col-md-12" ng-repeat="item in am.allPosts | filter: listingSearchTerm">
                        <td class="col-sm-2" ng-bind="item.title"></td>
                        <td class="col-sm-4" ng-bind="item.description"></td>
                        <td class="col-sm-2" ng-bind="item.postedDate"></td>
                        <td class="col-sm-2" ng-bind="item.postedByUser.username"></td>
                        <td class="col-sm-2">
                            <div class="btn btn-default" ng-click="am.deletePost(item.id)">Delete Post</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>